.form-label {
  display: flex;
  align-items: center;
  font-size: 20px;
  font-weight: bold;
}

.confirm-edit {
  display: flex;
  justify-content: flex-end;
}

.input-group {
  margin-bottom: 20px;
}

input,
.select {
  display: flex;
  height: 42px;
  border: 1px solid gray;
  border-radius: 4px;
  padding: 0 10px;
  width: 100%;
}

.card-header {
  display: flex;
  justify-content: space-between;
  width: 100%;
  align-items: center;
}

.photo-name {
  display: flex;
  align-items: center;
}

.photo-name .avatar {
  margin-right: 20px;
}

button {
  border: none;
  background-color: #5260ff;
  font-size: 20px;
  height: 42px;
  width: 100%;
  border-radius: 4px;
  font-weight: bold;
  color: white;
}
