.table-heading {
  background-color: #5260ff;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  color: white;
  padding: 0;
  height: 100%;
}

.tab-col {
  border: 1px solid black;
}
